<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday (DD/MM)</th>
                        </tr>

                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for birthday in birthdays %}
                        <tr>
                            <td>{{ birthday.name }}</td>
                            <td>{{ birthday.day }}/{{ birthday.month }}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                <hr>
                <form action = "/" method = "post">
                    <input type = "submit" value = "Submit new entry">
                </form>
            </div>
        </div>
    </body>
</html>